In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_excel("../KTM Raw Data.xlsx", index_col=0)
df.head()

,Age,Gender,Occupation,Phone Type,Current Bike,Relationship,Response
ID,,,,,,,
1,53,Male,Professional,Average,180 to 220,Complicated,Not purchased
2,27,Female,Self Employed,Low End,No Bike,Single,Purchased
3,39,Female,Unemployed,Average,180 to 220,Married,Not purchased
4,20,Female,Unemployed,High End,No Bike,Married,Not purchased
5,29,Male,Student,Average,180 to 220,Complicated,Purchased

In [3]:
le = LabelEncoder()

In [4]:
for col in df.columns:
    if df[col].dtype == object:
        df[col] = le.fit_transform(df[col])

In [5]:
df

,Age,Gender,Occupation,Phone Type,Current Bike,Relationship,Response
ID,,,,,,,
1,53,1,0,0,1,1,0
2,27,0,1,2,4,3,1
3,39,0,3,0,1,2,0
4,20,0,3,1,4,2,0
5,29,1,2,0,1,1,1
...,...,...,...,...,...,...,...
1514,19,1,2,1,0,0,1
1515,18,1,2,1,3,2,1
1516,24,0,2,1,1,2,1
1517,23,0,2,1,0,3,1
1518,18,1,2,1,1,3,1

In [6]:
X = df.drop("Response", axis=1)

In [7]:
y = df[["Response"]]

In [8]:
sc = StandardScaler()

In [9]:
X = sc.fit_transform(X)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [11]:
rfc = RandomForestClassifier()

In [12]:
rfc.fit(X_train, y_train)

C:\Users\palla\AppData\Local\Temp/ipykernel_18056/1542427849.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(X_train, y_train)

RandomForestClassifier()

In [13]:
y_pred = rfc.predict(X_test)

In [14]:
accuracy_score(y_test, y_pred)

0.7631578947368421

In [15]:
cv_score = cross_val_score(rfc, X, y, cv=10)

C:\Users\palla\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:598: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\palla\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:598: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\palla\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:598: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\palla\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:598: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\palla\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:598: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\palla\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:598: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\palla\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:598: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\palla\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:598: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\palla\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:598: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\palla\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:598: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

In [16]:
cv_score

array([0.54605263, 0.53289474, 0.51315789, 0.53289474, 0.86184211,
       0.89473684, 0.85526316, 0.91447368, 0.8410596 , 0.88741722])

In [17]:
np.mean(cv_score)

0.7379792610665736