In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.metrics import r2_score, mean_squared_error

In [2]:
df = pd.read_excel("../Xiaomi Raw Data.xlsx", index_col=0)
df.head()

,Day,Browser,No. of Clicks,Pages Viewed,Time (min),Amount Spent (Rs.)
Customer,,,,,,
1,Monday,Chrome,13,4,8.5,2668.0
2,Saturday,Chrome,15,5,16.9,3469.0
3,Monday,Internet Explorer,20,6,7.3,5215.0
4,Monday,Chrome,42,6,30.1,10423.0
5,Saturday,Internet Explorer,20,6,13.3,5404.0

In [3]:
le = LabelEncoder()

In [4]:
for col in df.columns:
    if df[col].dtype == object:
        df[col] = le.fit_transform(df[col])

In [5]:
df

,Day,Browser,No. of Clicks,Pages Viewed,Time (min),Amount Spent (Rs.)
Customer,,,,,,
1,1,0,13,4,8.5,2668.0
2,2,0,15,5,16.9,3469.0
3,1,2,20,6,7.3,5215.0
4,1,0,42,6,30.1,10423.0
5,2,2,20,6,13.3,5404.0
...,...,...,...,...,...,...
43196,0,0,31,3,13.4,9875.0
43197,1,0,13,4,8.5,2668.0
43198,0,1,29,10,32.9,15530.0
43199,1,2,20,6,7.3,5215.0
43200,6,0,29,4,11.3,6627.0

In [6]:
X = df.drop("Amount Spent (Rs.)", axis=1)

In [7]:
y = df[["Amount Spent (Rs.)"]]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [9]:
rfr = RandomForestRegressor()

In [10]:
rfr.fit(X_train, y_train)

C:\Users\palla\AppData\Local\Temp/ipykernel_7264/3339584834.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfr.fit(X_train, y_train)

RandomForestRegressor()

In [11]:
y_pred = rfr.predict(X_test)

In [12]:
r2_score(y_pred, y_test)

1.0

In [13]:
mean_squared_error(y_test, y_pred)

1.0251997368158184e-27

In [14]:
np.sqrt(mean_squared_error(y_test, y_pred))

3.201874040020654e-14

In [15]:
cv_score = cross_val_score(rfr, X, y, cv=10)

C:\Users\palla\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:598: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\palla\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:598: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\palla\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:598: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\palla\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:598: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\palla\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:598: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\palla\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:598: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\palla\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:598: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\palla\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:598: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\palla\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:598: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\palla\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:598: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

In [16]:
cv_score

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [17]:
np.mean(cv_score)

1.0