In [28]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import r2_score, mean_squared_error
import numpy as np
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_excel("../Xiaomi Raw Data.xlsx", index_col=0)
df.head()

,Day,Browser,No. of Clicks,Pages Viewed,Time (min),Amount Spent (Rs.)
Customer,,,,,,
1,Monday,Chrome,13,4,8.5,2668.0
2,Saturday,Chrome,15,5,16.9,3469.0
3,Monday,Internet Explorer,20,6,7.3,5215.0
4,Monday,Chrome,42,6,30.1,10423.0
5,Saturday,Internet Explorer,20,6,13.3,5404.0

In [3]:
le = LabelEncoder()

In [4]:
df["day_le"] = le.fit_transform(df["Day"])

In [5]:
df.head()

,Day,Browser,No. of Clicks,Pages Viewed,Time (min),Amount Spent (Rs.),day_le
Customer,,,,,,,
1,Monday,Chrome,13,4,8.5,2668.0,1
2,Saturday,Chrome,15,5,16.9,3469.0,2
3,Monday,Internet Explorer,20,6,7.3,5215.0,1
4,Monday,Chrome,42,6,30.1,10423.0,1
5,Saturday,Internet Explorer,20,6,13.3,5404.0,2

In [6]:
df["Day"].value_counts()

Friday       9504
Monday       7776
Saturday     6048
Tuesday      6048
Wednesday    5184
Sunday       4320
Thursday     4320
Name: Day, dtype: int64

In [7]:
df["day_le"].value_counts()

0    9504
1    7776
2    6048
5    6048
6    5184
3    4320
4    4320
Name: day_le, dtype: int64

In [8]:
df["browser_le"] = le.fit_transform(df["Browser"])

In [9]:
df.head()

,Day,Browser,No. of Clicks,Pages Viewed,Time (min),Amount Spent (Rs.),day_le,browser_le
Customer,,,,,,,,
1,Monday,Chrome,13,4,8.5,2668.0,1,0
2,Saturday,Chrome,15,5,16.9,3469.0,2,0
3,Monday,Internet Explorer,20,6,7.3,5215.0,1,2
4,Monday,Chrome,42,6,30.1,10423.0,1,0
5,Saturday,Internet Explorer,20,6,13.3,5404.0,2,2

In [10]:
#X = df[["day_le","browser_le","No. of Clicks","Pages Viewed","Time (min)"]]
X = df.drop(["Day","Browser","Amount Spent (Rs.)"], axis=1)

In [11]:
X

          No. of Clicks  Pages Viewed  Time (min)  day_le  browser_le
Customer
1                    13             4         8.5       1           0
2                    15             5        16.9       2           0
3                    20             6         7.3       1           2
4                    42             6        30.1       1           0
5                    20             6        13.3       2           2
...                 ...           ...         ...     ...         ...
43196                31             3        13.4       0           0
43197                13             4         8.5       1           0
43198                29            10        32.9       0           1
43199                20             6         7.3       1           2
43200                29             4        11.3       6           0

[43200 rows x 5 columns]

In [12]:
y = df[["Amount Spent (Rs.)"]]

In [13]:
y

          Amount Spent (Rs.)
Customer
1                     2668.0
2                     3469.0
3                     5215.0
4                    10423.0
5                     5404.0
...                      ...
43196                 9875.0
43197                 2668.0
43198                15530.0
43199                 5215.0
43200                 6627.0

[43200 rows x 1 columns]

In [14]:
type(y)

pandas.core.frame.DataFrame

In [15]:
type(X)

pandas.core.frame.DataFrame

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [17]:
X_train

          No. of Clicks  Pages Viewed  Time (min)  day_le  browser_le
Customer
30051                24             4        10.8       0           1
18455                26             5        16.3       2           1
29011                34             7        13.3       1           0
12129                26             5        16.3       2           1
31238                18             2        11.4       5           1
...                 ...           ...         ...     ...         ...
7814                 16             4        11.8       3           0
32512                23             6        10.5       2           1
5193                 24             5        16.5       1           1
12173                24             4        10.8       0           1
33004                32             3        12.7       6           1

[30240 rows x 5 columns]

In [18]:
X_test

          No. of Clicks  Pages Viewed  Time (min)  day_le  browser_le
Customer
27561                28             4         6.2       4           1
18335                16             2        11.4       3           0
27860                23             4        15.9       5           2
24450                19             2         8.0       5           1
17366                19             4         5.6       0           2
...                 ...           ...         ...     ...         ...
15801                37             9        11.8       1           2
10862                30             6        19.5       6           2
3387                 16             2        11.4       3           0
2519                 15             5        15.1       6           0
13255                20             3         9.1       0           0

[12960 rows x 5 columns]

In [19]:
y_train

          Amount Spent (Rs.)
Customer
30051                 7038.0
18455                 7858.0
29011                11065.0
12129                 7858.0
31238                 4473.0
...                      ...
7814                  3717.0
32512                 6780.0
5193                  5999.0
12173                 7038.0
33004                 7094.0

[30240 rows x 1 columns]

In [20]:
y_test

          Amount Spent (Rs.)
Customer
27561                 8417.0
18335                 3604.0
27860                 6744.0
24450                 4866.0
17366                 6845.0
...                      ...
15801                12025.0
10862                 9490.0
3387                  3604.0
2519                  3269.0
13255                 5209.0

[12960 rows x 1 columns]

In [21]:
model = LinearRegression()

In [22]:
model.fit(X_train, y_train)

LinearRegression()

In [23]:
y_pred = model.predict(X_test)

In [24]:
y_pred[:10]

array([[ 7308.91524659],
       [ 3369.24096578],
       [ 6197.16063243],
       [ 3954.79875401],
       [ 5366.33910107],
       [13029.723169  ],
       [ 9263.07648904],
       [ 2009.49820597],
       [ 4652.65286981],
       [ 3415.44154041]])

In [25]:
y_test.head(10)

          Amount Spent (Rs.)
Customer
27561                 8417.0
18335                 3604.0
27860                 6744.0
24450                 4866.0
17366                 6845.0
33056                13440.0
7681                 10315.0
19702                 3648.0
31519                 3469.0
21914                 4120.0

In [26]:
r2_score(y_test,y_pred)

0.8856014493173505

In [27]:
np.sqrt(mean_squared_error(y_test,y_pred))

1081.2583373722716

# Implimenting cross validation on data

In [29]:
cv_score = cross_val_score(model, X, y, cv=10)

In [30]:
cv_score

array([0.88398104, 0.8884935 , 0.88360056, 0.88659754, 0.89186566,
       0.88638153, 0.88329191, 0.88532176, 0.88932367, 0.89036472])

In [31]:
np.mean(cv_score)

0.8869221895156819